<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.schedule.mapper.mmd.ComMetadataSyncMapper">
    <resultMap id="baseResultMap" type="com.piesat.schedule.entity.mmd.ComMetadataSyncCfgEntity">

        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="TASK_NAME" property="taskName" jdbcType="VARCHAR" />
        <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
        <result column="API_URL" property="apiUrl" jdbcType="VARCHAR" />
        <result column="API_TYPE" property="apiType" jdbcType="VARCHAR" />
        <result column="API_DATAKEY" property="apiDataKey" jdbcType="VARCHAR" />
        <result column="START_TIME" property="startTime" jdbcType="INTEGER" />
        <result column="START_TIME_UNIT" property="startTimeUnit" jdbcType="VARCHAR" />
        <result column="PRIMARY_KEY" property="primaryKey" jdbcType="VARCHAR" />
        <result column="REMARK" property="description" jdbcType="VARCHAR" />
    </resultMap>
    <!-- 公共元数据同步记录 -->
    <resultMap type="com.piesat.schedule.entity.mmd.ComMetadataSyncRecordEntity" id="recordMap">
    	<id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
        <result column="STOP_TIME" property="stopTime" jdbcType="TIMESTAMP" />
        <result column="SYNC_TABLE_NAME" property="syncTableName" jdbcType="VARCHAR" />
        <result column="SYNC_RECORD_NUM" property="syncRecordNum" jdbcType="INTEGER" />
        <result column="SYNC_TYPE" property="syncType" jdbcType="VARCHAR" />
        <result column="SYNC_MODEL" property="syncModel" jdbcType="VARCHAR" />
        <result column="RUN_STATE" property="runState" jdbcType="VARCHAR" />
        <result column="FAIL_REASON" property="failReason" jdbcType="VARCHAR" />
    </resultMap>
   <!-- 条件查询公共元数据同步记录 -->
   <select id="selectRecordList" resultMap="recordMap" parameterType="com.piesat.schedule.entity.mmd.ComMetadataSyncRecordEntity">
		select
			ID,START_TIME,STOP_TIME,SYNC_TABLE_NAME,SYNC_RECORD_NUM,
			SYNC_TYPE,SYNC_MODEL,FAIL_REASON,RUN_STATE
		from
			t_sod_sync_commetadata_record
		where
			1=1
       <if test="paramt.beginTime != null and paramt.beginTime != ''"><!-- 开始时间检索 -->
			and start_time &gt; #{paramt.beginTime}
		</if>
       <if test="paramt.endTime != null and paramt.endTime != ''"><!-- 开始时间检索 -->
			and stop_time &lt; #{paramt.endTime}
		</if>
		<if test="syncTableName != '' and syncTableName != null">
			and sync_table_name = #{syncTableName}
		</if>
		<if test="runState != '' and runState != null">
			and run_state = #{runState}
		</if>
		order by start_time desc
   </select>

	<!-- 条件查询公共元数据同步任务 -->
    <select id="selectList"  resultMap="baseResultMap" parameterType="com.piesat.schedule.entity.mmd.ComMetadataSyncCfgEntity">
		select
			t1.*,t2.remark
		from
			t_sod_sync_commetadata_cfg t1 left join t_sod_dict_data t2
		on
			t1.table_name = t2.dict_value
		where
			1=1
		<if test="taskName != null and taskName != ''">
			and t1.task_name like #{taskName}
		</if>
		<if test="tableName != null and tableName != ''">
			and t1.table_name like #{tableName}
		</if>
		<if test="apiType != null and apiType != ''">
			and t1.api_type = #{apiType}
		</if>
		order by
			t1.table_name asc
    </select>

    <!-- 全量同步,清空表 -->
<!--    <update id="clearTable" parameterType="java.lang.String">
    	delete from ${tableName}
    </update>-->
    <delete id="clearTable" parameterType="java.lang.String">
    	delete from ${tableName}
    </delete>

    <!-- 插入一行数据 -->
    <insert id="insert1Row" parameterType="java.util.Map">
    	insert into ${tableName}
        <foreach collection="row.keys" item="key" open="(" close=")" separator=",">
            ${key}
        </foreach>
        values
        <foreach collection="row.values" item="value" open="(" close=")" separator=",">
            #{value}
        </foreach>
    </insert>

    <!-- 更新一条数据 -->
    <update id="update1Row" parameterType="java.util.Map">
    	update ${tableName}
        set
        <foreach collection="row.entrySet()" index="key"  item="ent" separator=",">
            ${key} = #{ent}
        </foreach>
        where ${pk} = #{pkValue}
    </update>
    <!-- 删除一条数据 -->
    <delete id="del1Row" parameterType="java.util.Map">
    	delete
        from
            ${tableName}
        where
            ${pk} = #{pkValue}
    </delete>


</mapper>
