<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.piesat.schedule.mapper.database.GbaseOperationMapper">
    <select id="findGbaseUsers" resultType="java.util.Map">
       select distinct user,uid uuid from gbase.user
    </select>
    <select id="findGbaseInstance" resultType="java.lang.String">
        select schema_name  from information_schema.schemata
    </select>
    <select id="findGbaseTables" resultType="java.lang.String">
        select table_name from information_schema.tables where table_schema=#{schemaName}
   </select>
    <update id="createGbaseSchema">
        create database ${schemaName}
    </update>
    <update id="createGbaseUser">
        ${sql}
    </update>
</mapper>