<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.piesat.monitor.dao.es.TestMapper" >
    <select id="list" resultType="com.piesat.monitor.entity.Test">
       select * from htht3
    </select>
</mapper>