<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.dm.mapper.MybatisModifyMapper">

    <update id="updateDataAuthorityConfig" parameterType="StorageConfigurationEntity">
        update T_SOD_STORAGE_CONFIGURATION
        <set>
            <if test="syncIdentifier != null">
                sync_identifier = #{syncIdentifier},
            </if>
            <if test="cleanIdentifier != null">
                clean_identifier = #{cleanIdentifier},
            </if>
            <if test="moveIdentifier != null">
                move_identifier = #{moveIdentifier},
            </if>
            <if test="backupIdentifier != null">
                backup_identifier = #{backupIdentifier},
            </if>
            <if test="syncId != null">
                sync_id = #{syncId},
            </if>
            <if test="clearId != null">
                clear_id = #{clearId},
            </if>
            <if test="moveId != null">
                move_id = #{moveId},
            </if>
            <if test="backupId != null">
                backup_id = #{backupId},
            </if>
        </set>
        where  class_logic_id = #{classLogicId}
    </update>

    <update id="modifyDatabaseSpecialReadWrite" parameterType="databaseSpecialReadWriteEntity">
        update t_sod_database_special_read_write
        <set>
            <if test="examineStatus != null">
                examine_status = #{examineStatus},
            </if>
            <if test="failureReason != null">
                failure_reason = #{failureReason},
            </if>
            <if test="examineTime != null">
                examine_time = #{examineTime},
            </if>
            <if test="examiner != null">
                examiner = #{examiner},
            </if>
        </set>
        where  sdb_id = #{sdbId} and data_class_id = #{dataClassId}
    </update>
    <update id="updateSpecialAccess" parameterType="DatabaseSpecialAccessEntity">
        update T_SOD_DATABASE_SPECIAL_ACCESS
        <set>
            <if test="examineStatus != null">
                examine_status = #{examineStatus},
            </if>
            <if test="failureReason != null">
                failure_reason = #{failureReason},
            </if>
            <if test="examiner != null">
                examiner = #{examiner},
            </if>
            <if test="examineTime != null">
                examine_time = #{examineTime},
            </if>
            <if test="useStatus != null">
                use_status = #{useStatus},
            </if>
        </set>
        where  sdb_id = #{sdbId} and user_id = #{userId}
    </update>

</mapper>
