<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.dm.mapper.MybatisModifyMapper">

    <update id="updateDataAuthorityConfig" parameterType="AdvancedConfigEntity">
        update T_SOD_ADVANCED_CONFIG
        <set>
            <if test="storageDefineIdentifier != null">
                storage_define_identifier = #{storageDefineIdentifier},
            </if>
            <if test="syncIdentifier != null">
                sync_identifier = #{syncIdentifier},
            </if>
            <if test="cleanIdentifier != null">
                clean_identifier = #{cleanIdentifier},
            </if>
            <if test="moveIdentifier != null">
                move_identifier = #{moveIdentifier},
            </if>
            <if test="backupIdentifier != null">
                backup_identifier = #{backupIdentifier},
            </if>
            <if test="syncId != null">
                sync_id = #{syncId},
            </if>
            <if test="clearId != null">
                clear_id = #{clearId},
            </if>
            <if test="moveId != null">
                move_id = #{moveId},
            </if>
            <if test="backupId != null">
                backup_id = #{backupId},
            </if>
        </set>
        where  TABLE_ID = #{tableId}
    </update>

    <update id="modifyDatabaseSpecialReadWrite" parameterType="databaseSpecialReadWriteEntity">
        update t_sod_database_special_read_write
        <set>
            <if test="examineStatus != null">
                examine_status = #{examineStatus},
            </if>
            <if test="failureReason != null">
                failure_reason = #{failureReason},
            </if>
            <if test="examineTime != null">
                examine_time = #{examineTime},
            </if>
            <if test="examiner != null">
                examiner = #{examiner},
            </if>
        </set>
        where  sdb_id = #{sdbId} and data_class_id = #{dataClassId}
    </update>
    <update id="updateSpecialAccess" parameterType="DatabaseSpecialAccessEntity">
        update T_SOD_DATABASE_SPECIAL_ACCESS
        <set>
            <if test="examineStatus != null">
                examine_status = #{examineStatus},
            </if>
            <if test="failureReason != null">
                failure_reason = #{failureReason},
            </if>
            <if test="examiner != null">
                examiner = #{examiner},
            </if>
            <if test="examineTime != null">
                examine_time = #{examineTime},
            </if>
            <if test="useStatus != null">
                use_status = #{useStatus},
            </if>
        </set>
        where  sdb_id = #{sdbId} and user_id = #{userId}
    </update>
    <!-- 删除申请表中数据 -->
    <delete id="clearUselessApply">
        delete
        from T_SOD_DATA_AUTHORITY_APPLY_FLOW a
        where not exists(select 1 from T_SOD_DATA_AUTHORITY_APPLY b where a.id = b.apply_id)
    </delete>


    <!-- 根据id删除资料申请记录 -->
    <delete id="delDataAuthorityByApplyId" parameterType="java.util.Map">
        delete from T_SOD_DATA_AUTHORITY_APPLY
        where apply_id = #{applyId}
        <if test="dataBaseId != null and dataBaseId !=''">
            and DATABASE_ID = #{dataBaseId}
        </if>
        <if test="dataClassId != null and dataClassId != ''">
            and DATA_CLASS_ID = #{dataClassId}
        </if>
    </delete>
</mapper>
